body{
    padding: 1em;
    background: #2B3134;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
  }
  #answer{

    margin-top: -120px;
  }
  
  #text {
    width: 220px;
    height: 200px;
}
  
  h1{
    margin: 1em 0;
    border-bottom: 1px dashed;
    padding-bottom: 1em;
    font-weight: lighter;
    z-index: 10;
  }
  p{
    font-style: italic;
  }
  .loader{
     
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    vertical-align: top;
  }
  
  /*
    Set the color of the icon
  */
  svg path,
  svg rect{
    fill: #FF6700;
  }