@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #a8d6ff;
}

.user-input, .results-area{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    width: 50%;
}

.results-area{
    flex-direction: row;
}

.text-area{
    height: 10em;
}

.positive{
    color: green;
}

.negative, .error{
    color: red;
}

.neutral{
    color: grey;
}

p{
    width: fit-content;
    margin: auto;
    padding: 1em;
}

.loading{
    height: 15em;
}

.httpcode{
    height: 15em;
}

.hide {
    opacity: 0;
    /* transition: opacity 0.6s linear; */
}

.datadiv{
    display: flex;
    flex-direction: column;
}

button, textarea{
    background-color: #cde8ff;
    margin-bottom: 1em;
    min-height: 64px;
}

.betterload-checkbox{
    position: absolute;
    top: 1em;
    right: 1em;
}
